/* GENERAL------------------------------------------------------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
/* COLORS-------------------------------------------------------------------------------- */
:root{
    --bg-1: white ;
}
:root[data-theme="dark"] {
    --bg-1: rgb(84, 83, 83) ;
}
/* ------------------------------------------------------------------------------- */