/* GENERAL------------------------------------------------------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
}
body{
    margin: 0;
}
img{
    display: block;
    width: 100%;
}
a{
    text-decoration: none;
}
.min-vh-page{
    min-height: calc(100vh - 56px);
}
/* COLORS-------------------------------------------------------------------------------- */
:root{
    --bg-card: white ;
    --text-1: white;
    --text-2: gray;
}
:root[data-theme="dark"] {
     .container-fluid , .card , input ,.form-select , textarea {
        background-color:rgb(37, 36, 36) !important ;
        color:white ;
        border: 1px solid rgb(84, 83, 83);
    }
    .card-header ,span{
        background-color: rgb(84, 83, 83);
        border: none;
    }
    button{
        background-color:rgb(37, 36, 36) !important ;
    }
    --bg-card: rgb(26, 24, 24) !important ;
    --bg-1: rgb(84, 83, 83) ;
    --text-1: black;
    --text-2: white;
}
.text-white-css , .text-white-css:hover{
    color: var(--text-1);
}
.text-black-css , .text-black-css:hover{
    color: var(--text-2);
}
/* ------------------------------------------------------------------------------- */
